@page "/samples"
@inject HttpStatisticsClient Client

<PageTitle>Samples</PageTitle>

@if (_response is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Transponder</th>
                <th>Start</th>
                <th>End</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Speed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sample in _response.Samples)
            {
                <tr>
                    <td>@sample.Time.ToString("u")</td>
                    <td>@sample.TransponderId</td>
                    <td>@sample.CoursePointStartId</td>
                    <td>@sample.CoursePointEndId</td>
                    <td>@sample.Distance</td>
                    <td>@sample.Duration.TotalSeconds</td>
                    <td>@sample.Speed</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private GetSamplesResponse? _response;

    const int PageSize = 10;

    [SupplyParameterFromQuery]
    public DateTime? Cursor { get; set; }

    [SupplyParameterFromQuery]
    public bool? IsNextPage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _response = await Client.GetSamplesAsync(Cursor, IsNextPage ?? false, PageSize);
    }
}
