@using VeloTimer.Shared.Util
@using VeloTimer.Shared.Hub
@using VeloTimer.Shared.Models
@inherits ComponentBase
@implements IDisposable
@inject IApiClient Api
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject HubConnection hubConnection

<MudTable Items="@segmentTimes" Loading="@_loading" LoadingProgressColor="Color.Info" Breakpoint="Breakpoint.None" T="SegmentTime" OnRowClick="@ToggleIntermediate">
    <HeaderContent>
        @if (!string.IsNullOrWhiteSpace(_rider))
        {
            <MudTh>Dato</MudTh>
        }
        else
        {
            <MudTh>Rytter</MudTh>
        }
        <MudTh>@Label</MudTh>
        <MudTh>Fart</MudTh>
    </HeaderContent>
    <RowTemplate>
        @if(!string.IsNullOrWhiteSpace(_rider))
        {
            <MudTd DataLabel="Dato">@context.PassingTime.LocalDateTime</MudTd>
        }
        else
        {
            <MudTd DataLabel="Rytter">@context.Rider</MudTd>
        }
        <MudTd DataLabel="@Label">@Formatters.FormatTime(context.Time)</MudTd>
        <MudTd DataLabel="Fart">@String.Format("{0:00.000}", context.Speed)</MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowIntermediate)
        {
            <MudTr>
                <td colspan="4">
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@ChartIntermediates(@context.Intermediates)" ChartOptions="@(new ChartOptions{DisableLegend = true, YAxisTicks=2})" />
                <MudGrid>
                @foreach(var inter in @context.Intermediates)
                {
                    <MudItem>@Formatters.FormatTime(inter.Time)</MudItem>
                }
                </MudGrid>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code {
    protected IEnumerable<SegmentTime> segmentTimes = Enumerable.Empty<SegmentTime>();

    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public long? Transponder { get; set; }
    [Parameter]
    public DateTimeOffset? FromTime { get; set; }
    [Parameter]
    public DateTimeOffset? ToTime { get; set; }
    [Parameter]
    public int Count { get; set; }
    [Parameter]
    public string Rider { get; set; }

    private TrackStatisticsItem _statsItem;
    protected long? transponder;
    protected string _rider;
    protected DateTimeOffset? fromtime;
    protected DateTimeOffset? totime;
    private bool _loading = true;
    private bool _hasIntermediate = true;

    protected override void OnInitialized()
    {
        //hubConnection.On(Strings.Events.NewSegmentRun, async () =>
        //{
        //    await LoadSegmentTimes();
        //});
    }

    protected async override Task OnParametersSetAsync()
    {
        if (Label != _statsItem?.StatisticsItem.Label || Transponder != transponder || Rider != _rider) {
            _loading = true;

            if (_statsItem != null)
            {
                await hubConnection.InvokeAsync("RemoveFromSegmentGroup", _statsItem.Id);
            }

            _statsItem = await Api.GetStatisticsItem(Label, "1");

            transponder = Transponder;
            fromtime = FromTime?.ToUniversalTime();
            totime = ToTime?.ToUniversalTime();
            _rider = Rider;

            if (totime == null)
            {
                await hubConnection.InvokeAsync("AddToSegmentGroup", _statsItem.Id);
            }

            await LoadSegmentTimes();
        }

        StateHasChanged();
        _loading = false;
    }

    private async Task LoadSegmentTimes()
    {
        segmentTimes = await Api.GetTimes(_statsItem.StatisticsItem.Label, fromtime, totime, Count: Count, Rider: _rider);
        _hasIntermediate = (segmentTimes.Any() && segmentTimes.First().Intermediates.Count() > 1);
    }

    private void ToogleIntermediates(SegmentTime time)
    {
        //SegmentTime time = segmentTimes.First(x => x.PassingTime.Ticks == ticks);
        time.ShowIntermediate = !time.ShowIntermediate;
    }

    private void ToggleIntermediate(TableRowClickEventArgs<SegmentTime> trEvent)
    {
        trEvent.Item.ShowIntermediate = !trEvent.Item.ShowIntermediate;
    }

    private List<ChartSeries> ChartIntermediates(IEnumerable<Intermediate> intermediates)
    {
        List<ChartSeries> charts = new List<ChartSeries>();
        var series = new ChartSeries { Name = "tider", Data = intermediates.Select(x => x.Time).ToArray() };
        charts.Add(series);
        return charts;
    }

    public void Dispose()
    {
        //hubConnection.Remove(Strings.Events.NewSegmentRun);
        if (_statsItem != null)
        {
            hubConnection.InvokeAsync("RemoveFromSegmentGroup", _statsItem.Id);
        }
    }
}
        